body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.faixa {
    background-color: #a000cc;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #bb68d8;
}

.center {

    text-align: center;
}

header {
    text-align: center;
}

h1 {
    color: #bb68d8;
}

section {
    text-align: center;
}

h3 {
    color: #bb68d8;
    ;
}

footer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2.5px solid #bb68d8;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #ecbffc;
}